* {
    box-sizing: border-box;
}
:root {
    --first_choice: #44e9ff;
    --second_choice: #497980;
    --third_choice: rgb(192, 246, 253);
    --fourth_choice: #333;
    font-size: 62%;
}

body {
    background: rgb(255, 255, 255);
    color: var(--fourth_choice);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    background: var(--second_choice);
    padding: 30px 25px;
    border-bottom: 5px solid var(--first_choice);
}

.page_title {
    color: var(--first_choice);
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 4em;
}

.page_content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px auto;
    width: 97%;
}
.weather_report_container {
    flex: 1;
    margin: 0 20px 20px;
    height: 3000px;
}

.report_list_container {
    padding: 15px;
    height: calc(100% - 76%);
    background: #8ee6f4;
    border-radius: 12px;
    border: 2px solid var(--fourth_choice);

}


/* Create two columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 500px;
    overflow: auto;
  }

 #search_bar_container {
    float: left;
      margin: 10px 10px 10px 10px;
      width: 150px; 
      overflow: auto;
  }
  
#general_report_container {
margin: 10px 10px 10px 10px;
}

  /* Clear floats after the columns */
  .weather_report_container:after {
    content: "";
    display: table;
    clear: both;
  }

  .flex-container {
      display: inline;
    background-color: #290f99;
    width: 100px;

    text-align: left;
    line-height: 75px;
    font-size: 30px;
  } 

  #daily_report_box {
      padding: 10px;
  }

  #weekly_report_container{
      margin: 10px;
      width: 50%;
  }
  .weekly_list_container {
    display: flex;
    flex-wrap: wrap;
    background-color: DodgerBlue;

  }
  
 .weekly_list_container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    line-height: 75px;
    font-size: 30px;
  }
  
  #daily_report_container {
      margin: 10px 10px 10px 10px;
      width: 100%;
      background: #d2d5dd;
  }

  @media screen and (max-width: 980px) {
    #search_bar_container {
      width: 100%;
      height: 100px;
      overflow: scroll;
      flex-basis: 100%;
      overflow:scroll;
    }

    .column {
        width: 100%;
      }

    .report_container{
        flex: 100%;
        margin: 0;
    }

    #weekly_report_container{
        width: 100%;
    }
  }